/* www.alsina.xyz | Alchemically bonded by Sebastian Alsina (@youngseebi) */

/* [==] COLORS [==]
 * 1:
 * 2:
 * 3:
 * 4:
*/


/* [==] FONTS [==]*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500');

/*
 * [==] General [==]
*/

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
}

a {
    color: red;
}

.top-bar {
    width: 100%;
    height: auto;
    padding: 12px;
    white-space: nowrap;
    border-bottom: 1px solid #ececec;
    text-align: center;
}

.top-bar span {
    margin-right: 8px;
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 0.7em;
}

.top-bar a {
    color: black;
    margin-right: 8px;
    vertical-align: middle;
}

.top-bar a:last-of-type {
    margin-right: 0;
}

.container {
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: auto;
    padding: 80px 22px 22px 22px;
}

.container .logo {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: auto;
    margin-bottom: 22px;
}

.tiles {
    width: 100%;
    height: auto;
    padding: 44px 0;
}

.tile {
    width: calc(33.33% - 2%);
    height: 150px;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 1%;
    border: 1px solid #ececec;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
/*
    .tile {
        width: calc(50% - 12px);
        margin: 0;
        margin-right: 22px;
        margin-bottom: 22px;
    }
    
    .tile:nth-child(even) {
        margin-right: 0;
    }
*/
    
    .tile {
        width: 100%;
        margin: 0;
        margin-bottom: 22px;
    }
}

.tile img {
    display: block;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footer {
    border-top: 1px solid #ececec;
    padding-top: 44px;
    text-align: center;
}

.footer .logo {
    max-width: 120px;
    margin-bottom: 22px;
}

.footer .copyright,
.footer .credit {
    text-transform: uppercase;
    line-height: 2em;
    font-weight: 900;
}

.footer .copyright {
    font-size: 0.8em;
    opacity: 0.7;
    font-weight: 300;
    margin-bottom: 44px;
}

.footer .credit {
    opacity: 0.5;
    font-size: 0.5em;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {}